#simon-container {
	padding:0;
	width:auto;
	height:1400px;
}
#controls {
	width:500px;
	height:350px;
	margin:-780px 0;
	margin-left:240px;
}
#title {
	font-size:7em;
}
.square {
	width:488px;
	height:600px;
}
.menu {
	width:162px;
	height:80px;
	margin:0 auto;
}
.control-buttons {
	width:80px;
	height:80px;
}
.menu-description {
	font-size:3em;
}
#current-steps {
	width:80px;
	height:80px;
	font-size:4em;
	line-height:65px;
}
#winner-description {
	padding-top:20px;
	width:200px;
	font-size:3em;
}