#simon-container {
	/*border:1px solid black;*/
	margin:0 auto;
	margin-top:25px;
	width:600px;
	height:615px;
}
#controls {
	position:relative;
	z-index:2;
	width:300px;
	height:200px;
	margin:-355px 0;
	margin-left:125px;
	border-radius:40px;
	background-color:#ECECEC;
	border:solid;
	color:#000000;
}
#title {
	text-align:center;
	font-size:4.5em;
	font-weight:bold;
	font-family:'Patua One',cursive;
	user-select:none;
}
.square {
	z-index:1;
	position:relative;
	width:275px;
	height:250px;
}
.square:focus,.control-buttons:focus {
	outline:none;
}
#red {
	background-color:#EC644B;
	border-radius:75px 0 0 0;
}
#blue {
	background-color:#4183D7;
	border-radius:0 75px 0 0;
}
#yellow {
	background-color:#F7CA18;
	border-radius:0 0 75px 0;
}
#green {
	background-color:#26A65B;
	border-radius:0 0 0 75px;
}
.menu {
	display:inline-block;
	width:95px;
	height:80px;
	text-align:center;
}
.control-buttons {
	border-radius:100%;
	width:40px;
	height:40px;
	margin:0 auto;
}
.menu-description {
	font-family: 'Artifika', serif;
	font-size:1.5em;
	font-weight:bold;
	user-select:none;
}
#current-steps {
	border:3px solid black;
	border-radius:10px;
	margin:5px auto;
	width:40px;
	height:40px;
	text-align:center;
	font-size:1.5em;
	font-family: 'Merriweather', serif;
	background-color:#6F2929;
	color:red;
	line-height:33px;
	user-select:none;
}
#winner-description {
	margin:10px auto 0 auto;
	width:200px;
	line-height:40px;
	font-size:1.5em;
	text-align:center;
	font-family: 'Merriweather', serif;
}
#on {
	background-color:#26C281;
}
#reset {
	background-color:#CF000F;
}
#strict {
	background-color:#F9690E;
	opacity:0.8;
}
@media(max-width:405px){
	#simon-container {
		padding:0;
		width:450px;
		height:600px;
	}
	#controls {
		width:225px;
		height:190px;
		margin:-265px 0;
		margin-left:85px;
	}
	#title {
		text-align:center;
		font-size:3.5em;
		margin-right:35px;
	}
	.square {
		width:197px;
		height:175px;
	}
	.menu {
		width:70px;
		height:80px;
		margin:0 auto;
	}
	.control-buttons {
		width:40px;
		height:40px;
	}
	.menu-description {
		font-size:1.5em;
	}
	#current-steps {
		width:40px;
		height:40px;
		font-size:1.5em;
		line-height:33px;
	}
	#winner-description {
		width:200px;
		font-size:1.5em;
	}
}
@media(min-width:406px) and (max-width: 570px){
	#simon-container {
		padding:0;
		width:406px;
		height:550px;
	}
	#controls {
		width:225px;
		height:190px;
		margin:-290px 0;
		margin-left:85px;
	}
	#title {
		font-size:3.5em;
	}
	.square {
		width:200px;
		height:200px;
	}
	.menu {
		width:70px;
		height:80px;
		margin:0 auto;
	}
	.control-buttons {
		width:40px;
		height:40px;
	}
	.menu-description {
		font-size:1.5em;
	}
	#current-steps {
		width:40px;
		height:40px;
		font-size:1.5em;
		line-height:33px;
	}
	#winner-description {
		width:200px;
		font-size:1.5em;
	}
}